<div data-table class="container-flex--scroll">
  {{#if hasBlock}}
    {{yield (hash
        content=(component "data-table-content" content=@content noDataMessage=this.noDataMessage enableSelection=this.enableSelection enableLineNumbers=this.enableLineNumbers onClickRow=(optional @onClickRow) data-table=this class="container-flex--scroll")
      )
        this}}
  {{else}}
    <DataTableContent content={{@content}} noDataMessage={{this.noDataMessage}} enableSelection={{this.enableSelection}} enableLineNumbers={{this.enableLineNumbers}} onClickRow={{optional @onClickRow}} data-table={{this}} class="container-flex--scroll" />
  {{/if}}
</div>

{{#if @content}}
  <div class="data-table__actions data-table__actions--bottom">
    <NumberPagination @page={{this.page}} @size={{this.size}} @nbOfItems={{@content.length}} @sizeOptions={{this.sizeOptions}} @total={{@content.meta.count}} @links={{@content.meta.pagination}} />
  </div>
{{/if}}
