<AuToolbar @size="medium" @skin="tint" @border="bottom">
  <AuToolbarGroup>
    <ul class="au-c-list-horizontal">
      <li class="au-c-list-horizontal__item">
        <AuLink @route="search.submissions" class="au-c-button au-c-button--tertiary" type="button">
          <AuIcon @icon="arrow-left" @alignment="left"/>
          Toezicht ABB
        </AuLink>
      </li>
      <li class="au-c-list-horizontal__item">
        <AuButton @skin="tertiary" {{on "click" this.back}}>Bewaarde zoekopdrachten</AuButton>
      </li>
      <li class="au-c-list-horizontal__item">
        <strong>Toezicht ABB - {{if this.isNewForm "Nieuwe" "Bewerk"}} zoekopdracht</strong>
      </li>
    </ul>
  </AuToolbarGroup>
</AuToolbar>

<AuToolbar @size="large" @border="bottom">
  <AuToolbarGroup>
    <AuHeading @level="1" @skin="2">
      {{if this.isNewForm "Nieuwe" "Bewerk"}} zoekopdracht
    </AuHeading>
  </AuToolbarGroup>
</AuToolbar>

<div class="au-c-main-container__content au-c-main-container__content--scroll">
  <div class="au-o-box">
    {{#if this.init.isRunning}}
      <AuLoader @size="large"/>
      <span class="au-u-hidden-visually">Aan het laden</span>
    {{else}}
      {{#if this.error}}
        <AuAlert @alertIcon="cross"
                 @alertTitle="Oeps! Dit is genant ..."
                 @alertskin={{"error"}}
                 @closable="true"
                 class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
          <p>Er is iets onverwacht misgelopen tijdens het verwerken van uw zoekopdracht.</p>
          <p>Als dit probleem zich blijft voortdoen, twijfel er dan niet aan ondersteuning te contacteren.</p>
        </AuAlert>
      {{/if}}
      <RdfForm
              @groupClass="au-o-grid__item au-u-1-1 au-u-1-2@medium"
              @form={{this.form}}
              @graphs={{this.graphs}}
              @sourceNode={{this.sourceNode}}
              @formStore={{this.formStore}}
              @show={{false}}
              @forceShowErrors={{false}} />
    {{/if}}
  </div>
</div>
<AuToolbar @size="large" @border="top">
  <AuToolbarGroup>
    <AuButtonGroup>
      <AuButton @disabled={{if (or this.init.isRunning this.isFormEmpty) "true"}}
                @loading={{if this.save.isRunning "true"}}
                @skin={{"primary"}}
        {{on "click" (perform this.save)}}>
        Bewaar
      </AuButton>
      {{#unless this.isNewForm}}
        <LinkTo class="button button--narrow button--alt" type="button"
                @route="search.submissions.search-queries.select"
                @model={{@query.id}}>
          Laad filterset in
        </LinkTo>
      {{/unless}}
      <AuButton @skin="tertiary" {{on "click" this.back}}>Annuleer</AuButton>
    </AuButtonGroup>
  </AuToolbarGroup>
  {{#unless this.isNewForm}}
    <AuButton @disabled={{if this.init.isRunning "true"}}
              @loading={{if this.remove.isRunning "true"}}
              @skin="tertiary" @alert="true"
      {{ on "click" (perform this.remove) }}>
      <AuIcon @icon="bin" @alignment="left"/>
      Verwijder
    </AuButton>
  {{/unless}}
</AuToolbar>
