<div {{did-update this.updateSelectedValue @value}}>
  <PowerSelectMultiple
          @search={{perform this.search}}
          @searchPlaceholder="Typ om te zoeken..."
          @searchEnabled={{true}}
          @searchField={{"searchLabel"}}
          @loadingMessage="Aan het laden..."
          @options={{this.options}}
          @selected={{this.selected}}
          @onChange={{this.changeSelected}}
          @allowClear={{true}} as |code|>
    {{code.searchLabel}}
  </PowerSelectMultiple>
  <AuHelpText class="au-u-margin-none">vb. MAR7300 of MAR7304</AuHelpText>
</div>
