<div class="js-accordion js-accordion--open" {{did-update this.updateSelectedValues @fromValue @toValue}}>
  <AuLabel>{{@label}}</AuLabel>
  <AuButtonGroup @inline="true">
    <AuButton {{ on "click" this.resetFilter }}
        class="{{if (not this.isFilterEnabled) "is-active" }}" @skin="secondary">Alle meldingen</AuButton>
    <AuButton {{ on "click" this.initRangeFilter }}
        class="{{if this.isFilterEnabled "is-active" }}" @skin="secondary">Specifieke periode</AuButton>
  </AuButtonGroup>

  {{!-- TODO: Port daterange and accordion to appuniversum --}}
  {{#if this.isFilterEnabled}}
    <div class="accordion__content">
      <WuDateRange
              @fromValue={{this.fromDate}}
              @toValue={{this.toDate}}
              @onChangeFromValue={{fn this.updateDate "fromDate"}}
              @onChangeToValue={{fn this.updateDate "toDate"}}
              @fromMinDate="01.01.2012"
              @fromMaxDate="01.01.2050"
              @toMinDate="01.01.2012"
              @toMaxDate="01.01.2050"
      />
    </div>
  {{/if}}
</div>
