<div {{did-update (perform this.loadData) @submission }}>
  {{#if this.loadData.isRunning}}
    <span>Aan het laden...</span>
  {{else}}
    <SubmissionForm
      @form={{this.form}}
      @graphs={{this.graphs}}
      @sourceNode={{this.sourceNode}}
      @formStore={{this.formStore}}
      @show={{true}}
      @forceShowErrors={{false}} />
  {{/if}}
</div>