<div class="au-c-body-container">
  <div class="au-o-box au-o-box--small au-u-hide-on-print">
    <AuToolbar class="au-u-margin-bottom-small">
      <AuToolbarGroup>
        <AuHeading @level="1" @skin="2">Publieke Besluitendatabank - Locatiesecretariaat</AuHeading>
      </AuToolbarGroup>
      <AuToolbarGroup>
        <AuButtonGroup>
          <span>
            <div class="checkbox--switch__wrapper">
              <WuSwitch @label="Toon enkel te behandelen dossiers" @checked={{this.isStatusFilterEnabled}}
                        @onClick={{this.setToTreatStatus}} />
            </div>
          </span>
          <AuButton {{on "click" this.resetFilters}} @skin="tertiary">
            <AuIcon @icon="cross" @alignment="left" /> Herstel alle filters
          </AuButton>
        </AuButtonGroup>
      </AuToolbarGroup>
    </AuToolbar>
    <!-- FILTERS -->
    <div class="au-o-grid au-o-grid--tiny">
      <div class="au-o-grid__item au-u-1-1 au-u-1-2@xsmall au-u-1-3@medium">
        <AuLabel>Bestuurseenheid</AuLabel>
        <Filter::AdministrativeUnitSelect @value={{@filter.bestuurseenheidIds}}
                                          @onSelectionChange={{fn this.setFilter 'bestuurseenheidIds'}} />

        <AuLabel>Provincie</AuLabel>
        <Filter::ProvinceSelect @value={{@filter.provincieIds}}
                                @onSelectionChange={{fn this.setFilter 'provincieIds'}} />
      </div>
      <div class="au-o-grid__item au-u-1-1 au-u-1-2@xsmall au-u-1-3@medium">
          <AuLabel>Type bestuur</AuLabel>
          <Filter::AdministrativeUnitClassificationSelect @value={{@filter.classificatieIds}}
                                                          @onSelectionChange={{this.selectAdministrativeUnitClassifications}} />

          {{#if @filter.classificatieIds}}
            <AuLabel>Type Bestuursorgaan</AuLabel>
            <Filter::GoverningBodyClassificationSelect @value={{@filter.governingBodyClassificationIds}}
                                                       @onSelectionChange={{fn this.setFilter 'governingBodyClassificationIds'}} />
          {{/if}}

          <AuLabel>Type document</AuLabel>
          <Filter::DecisionTypeSelect @value={{@filter.besluitTypeIds}}
                                      @onSelectionChange={{this.selectBesluitTypes}} />

          {{#if this.regulationTypeIsSelected}}
            <AuLabel>Type reglement of verordening</AuLabel>
            <Filter::RegulationTypeSelect @value={{@filter.regulationTypeIds}}
                                          @onSelectionChange={{fn this.setFilter 'regulationTypeIds'}} />
          {{/if}}
      </div>
      <div class="au-o-grid__item au-u-1-1 au-u-1-3@medium">
        <div class="au-o-grid au-o-grid--tiny">
          <div class="au-o-grid__item au-u-1-2 au-u-1-1@medium">
            <div class="au-u-margin-bottom-small">
              <Filter::DateRange @label="Periode verstuurd"
                                 @fromValue={{@filter.sentDateFrom}}
                                 @toValue={{@filter.sentDateTo}}
                                 @onChangeFromValue={{fn this.setFilter 'sentDateFrom'}}
                                 @onChangeToValue={{fn this.setFilter 'sentDateTo'}} />
            </div>
          </div>
          <div class="au-o-grid__item au-u-1-2 au-u-1-1@medium">
            <div class="au-u-margin-bottom-small">
              <Filter::DateRange @label="Periode zitting / besluit"
                                 @defaultFromDate={{this.lastMonth}}
                                 @fromValue={{@filter.sessionDateFrom}}
                                 @toValue={{@filter.sessionDateTo}}
                                 @onChangeFromValue={{fn this.setFilter 'sessionDateFrom'}}
                                 @onChangeToValue={{fn this.setFilter 'sessionDateTo'}} />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="au-c-body-container">
    <AuDataTable
        @content={{@model}}
        @isLoading={{this.isLoadingModel}}
        @noDataMessage="Geen inzendingen gevonden"
        @sort={{@sort}}
        @page={{@page}}
        @size={{@size}} as |t|>
      <t.content as |c|>
        <c.header>
          {{#unless @displaySubset}}
            <AuDataTableThSortable @label="Provincie" @field="organization.provincie.naam" @currentSorting={{@sort}} @class="data-table__header-title au-u-visible-from@medium"/>
          {{/unless}}
          <AuDataTableThSortable @label="Bestuurseenheid" @field="organization" @currentSorting={{@sort}} @class="data-table__header-title au-u-visible-from@medium"/>
          <AuDataTableThSortable @label="Type bestuur" @field="organization.classificatie.label" @currentSorting={{@sort}} @class="data-table__header-title au-u-visible-until@small"/>
          <AuDataTableThSortable @label="Type document" @field="formData.decisionType.label" @currentSorting={{@sort}} @class="data-table__header-title"/>

          {{#unless @displaySubset}}
            <AuDataTableThSortable @label="Zitting / besluit" @field="formData.sessionStartedAtTime" @currentSorting={{@sort}} @class="data-table__header-title au-u-visible-from@medium"/>
            <AuDataTableThSortable @label="Verstuurd" @field="sentDate" @currentSorting={{@sort}} @class="data-table__header-title au-u-visible-from@medium"/>
          {{/unless}}
          <AuDataTableThSortable @label="Status" @field="review.status" @currentSorting={{@sort}} @class="data-table__header-title"/>
          <th class="au-u-hide-on-print"></th>
        </c.header>
        <c.body as |row|>
          {{#unless @displaySubset}}
            <td class="au-u-visible-from@medium">{{row.organization.provincie.naam}}</td>
          {{/unless}}
          <td class="au-u-visible-until@small" style={{html-safe "max-width: 250px;"}}>
            {{row.organization.naam}}
            <br>
            <AuHelpText class="au-u-hidden-from@medium text-fade">{{row.organization.classificatie.label}}</AuHelpText>
          </td>
          <td class="au-u-visible-from@medium">{{row.organization.classificatie.label}}</td>
          <td style={{html-safe "max-width: 250px;"}}>
            {{#if row.formData.decisionType}}
              <p>{{row.formData.decisionType.label}}</p>
            {{else}}
              <AuHelpText>Geen type</AuHelpText>
            {{/if}}
            <AuHelpText>{{row.formData.regulationType.label}}</AuHelpText>
          </td>
          {{#unless @displaySubset}}
            <td class="au-u-visible-from@medium">{{moment-format row.formData.sessionStartedAtTime 'DD-MM-YYYY'}}</td>
            <td class="au-u-visible-from@medium">{{moment-format row.sentDate 'DD-MM-YYYY'}}</td>
          {{/unless}}
          <td style={{html-safe "max-width:120px;"}}>
            <Submissions::StatusPill @status={{row.review.status}}/>{{!--  <AuPill resource="{{capitalize row.status}}">{{capitalize row.status}}</AuPill> --}}
          </td>
          <td class="au-u-hide-on-print">
            <LinkTo @route="supervision.submissions.show" @model={{row.id}}>Bekijk</LinkTo>
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
</div>
