{{!-- template-lint-disable no-html-comments  --}}
{{!-- template-lint-disable no-inline-styles  --}}

<div class="au-c-body-container">
  <div class="au-o-grid au-o-grid--flush au-o-grid--fixed">

    <div class="au-o-grid__item au-1-1 au-u-2-5@small au-u-1-4@medium">
      <div class="au-c-body-container">
        <SearchQueries::FilterForm @queryParams={{@queryParams}}/>
      </div>
    </div>
    <div class="au-o-grid__item au-1-1 au-u-3-5@small au-u-3-4@medium">
      <div class="au-c-body-container">
        <AuDataTable
            @content={{@model}}
            @isLoading={{this.isLoadingModel}}
            @noDataMessage="Geen inzendingen gevonden"
            @sort={{@sort}}
            @page={{@page}}
            @size={{@size}} as |t|>
          <t.content class="au-c-data-table__table--small" as |c|>
            <c.header>

                <AuDataTableThSortable @label="Provincie" @field="province" @currentSorting={{@sort}} @class="data-table__header-title au-u-visible-from@medium"/>

              <AuDataTableThSortable @label="Bestuurseenheid" @field="administrativeUnit" @currentSorting={{@sort}} @class="data-table__header-title"/>

                <AuDataTableThSortable @label="Type bestuur" @field="administrativeUnitClassification" @currentSorting={{@sort}} @class="data-table__header-title au-u-visible-from@medium"/>

              <AuDataTableThSortable @label="Categorie dossier" @field="decisionType" @currentSorting={{@sort}} @class="data-table__header-title"/>

              <AuDataTableThSortable @label="Periode zitting / besluit" @field="sessionDatetime" @currentSorting={{@sort}} @class="data-table__header-title au-u-visible-from@medium"/>
              <AuDataTableThSortable @label="Verstuurd" @field="sentDate" @currentSorting={{@sort}} @class="data-table__header-title au-u-visible-from@medium"/>
              <th class="au-u-hide-on-print"></th>
            </c.header>
            <c.body as |row|>

                <td class="au-u-visible-from@medium">{{row.province}}</td>

                <td style={{html-safe "max-width: 175px;"}}>{{row.administrativeUnit}}
                  <p class="text-fade">{{row.administrativeUnitClassification}}</p>
                </td>

                <td class="au-u-visible-from@medium">{{row.administrativeUnitClassification}}</td>
              <td style={{html-safe "max-width: 200px;"}}>
                {{#if row.decisionType}}
                  <p>{{row.decisionType}}</p>
                {{else}}
                  <AuHelpText>Geen type</AuHelpText>
                {{/if}}
                <AuHelpText>{{row.regulationType}}</AuHelpText>
              </td>
              <td class="au-u-visible-from@medium">{{moment-format row.sessionDatetime 'DD-MM-YYYY HH:mm'}}</td>
              <td class="au-u-visible-from@medium">{{moment-format row.sentDate 'DD-MM-YYYY'}}</td>
              <td class="au-u-hide-on-print" style={{html-safe "width:70px;"}}>
                <LinkTo @route="search.submissions.show" @model={{row.id}}>Bekijk</LinkTo>
              </td>
            </c.body>
            <tr>
            <td colspan="8">
              <AuAlert @alertIcon="alert-triangle" @alertTitle="PDF’s die ingescand zijn als afbeelding verschijnen niet in de zoekopdracht. Deze zijn niet leesbaar."  @alertskin={{"warning"}} @alertsize={{"small"}}>
                <p>Verder zoeken we momenteel niet op op synoniemen of lokale varianten. Bepaalde documenten zullen we niet vinden.</p>
                <br>
                <p><strong>Oplossing</strong></p>
                <p>Gebruik niet enkel de zoekfunctie om dossiers te doorzoeken &mdash; deze resultaten zijn beperkt. Maak gebruik van filters, zonder een zoekopdracht, om het volledige plaatje te zien. <a href="/help#help-zoekresultaten" target="_blank" rel="noopener noreferrer">Lees meer informatie over zoekresultaten</a>.</p>
              </AuAlert>
            </td>
          </tr>
          </t.content>
        </AuDataTable>
      </div>
    </div>
  </div>
</div>
