<div class="au-c-body-container">
  <div class="au-o-grid au-o-grid--flush au-o-grid--fixed">

    <div class="au-o-grid__item au-1-1 au-u-2-5@small au-u-1-4@medium">
      <div class="au-c-body-container">
        <SearchQueries::FilterForm @queryParams={{@queryParams}}/>
      </div>
    </div>
    <div class="au-o-grid__item au-1-1 au-u-3-5@small au-u-3-4@medium">
      <div class="au-c-body-container">
        <AuDataTable
            @content={{@model}}
            @isLoading={{this.isLoadingModel}}
            @noDataMessage="Geen inzendingen gevonden"
            @sort={{@sort}}
            @page={{@page}}
            @size={{@size}} as |t|>
          <t.content class="au-c-data-table__table--small" as |c|>
            <c.header>
              {{#if @usesMuSearch}}
                <SearchTable::MuSearch::Header @sort={{@sort}} />
              {{else}}
                <SearchTable::Resource::Header @sort={{@sort}} />
              {{/if}}
            </c.header>
            <c.body as |submission|>
              {{#if @usesMuSearch}}
                <SearchTable::MuSearch::Row @submission={{submission}} />
              {{else}}
                <SearchTable::Resource::Row @submission={{submission}} />
              {{/if}}
            </c.body>
            <tr>
            <td colspan="8">
              <AuAlert @icon="alert-triangle" @title="PDF’s die ingescand zijn als afbeelding verschijnen niet in de zoekopdracht. Deze zijn niet leesbaar."  @skin="warning" @size="small">
                <p>Verder zoeken we momenteel niet op op synoniemen of lokale varianten. Bepaalde documenten zullen we niet vinden.</p>
                <br>
                <p><strong>Oplossing</strong></p>
                <p>Gebruik niet enkel de zoekfunctie om dossiers te doorzoeken &mdash; deze resultaten zijn beperkt. Maak gebruik van filters, zonder een zoekopdracht, om het volledige plaatje te zien. <a href="/help#help-zoekresultaten" target="_blank" rel="noopener noreferrer">Lees meer informatie over zoekresultaten</a>.</p>
              </AuAlert>
            </td>
          </tr>
          </t.content>
        </AuDataTable>
      </div>
    </div>
  </div>
</div>
