<div class="au-c-body-container">
  <div class="au-o-box au-o-box--small au-u-hide-on-print">
    <AuToolbar class="au-u-margin-bottom-small">
      <AuToolbarGroup>
        <AuHeading @level="1" @skin="2">Toezicht ABB - Vlaamse Belastingsdienst</AuHeading>
      </AuToolbarGroup>
      <AuToolbarGroup>
        <AuButtonGroup>
          <AuButton {{on "click" this.resetFilters}} @skin="tertiary">
            <AuIcon @icon="cross" @alignment="left" /> Herstel alle filters
          </AuButton>
        </AuButtonGroup>
      </AuToolbarGroup>
    </AuToolbar>

    <!-- FILTERS -->
    <div class="au-o-grid au-o-grid--small">
      <div class="au-o-grid__item au-u-1-1 au-u-1-3@medium">
        <div class="au-o-grid au-o-grid--tiny">
          <div class="au-o-grid__item au-u-1-1 au-u-1-2@xsmall au-u-1-1@medium">
            <AuLabel>Bestuurseenheid</AuLabel>
            <Filter::AdministrativeUnitSelect @value={{@filter.bestuurseenheidIds}} @onSelectionChange={{fn this.setFilter 'bestuurseenheidIds'}} />
          </div>
          <div class="au-o-grid__item au-u-1-1 au-u-1-2@xsmall au-u-1-1@medium">
            <AuLabel>MAR-code</AuLabel>
            <Filter::ChartOfAccountSelect @value={{@filter.marCodeIds}} @onSelectionChange={{fn this.setFilter 'marCodeIds'}} />
          </div>
        </div>
      </div>
      <div class="au-o-grid__item au-u-1-1 au-u-1-2@small au-u-1-3@medium">
        <div class="au-o-grid au-o-grid--tiny">
          <div class="au-o-grid__item au-u-1-2 au-u-1-1@medium">
            <Filter::DateRange @label="Periode verstuurd" @fromValue={{@filter.sentDateFrom}} @toValue={{@filter.sentDateTo}} @onChangeFromValue={{fn this.setFilter 'sentDateFrom'}} @onChangeToValue={{fn this.setFilter 'sentDateTo'}} />
          </div>
          <div class="au-o-grid__item au-u-1-2 au-u-1-1@medium">
            <Filter::DateRange @label="Periode zitting / besluit" @defaultFromDate={{this.lastMonth}} @fromValue={{@filter.sessionDateFrom}} @toValue={{@filter.sessionDateTo}} @onChangeFromValue={{fn this.setFilter 'sessionDateFrom'}} @onChangeToValue={{fn this.setFilter 'sessionDateTo'}} />
          </div>
        </div>
      </div>
      <div class="au-o-grid__item au-u-1-1 au-u-1-2@small au-u-1-3@medium">
        <div class="au-o-grid au-o-grid--tiny">
          <div class="au-o-grid__item au-u-1-2 au-u-1-1@medium">
            <Filter::DateRange @label="Geldt vanaf" @defaultToDate={{this.nextYear}} @fromValue={{@filter.dateOfEntryIntoForceFrom}} @toValue={{@filter.dateOfEntryIntoForceTo}} @onChangeFromValue={{fn this.setFilter 'dateOfEntryIntoForceFrom'}} @onChangeToValue={{fn this.setFilter 'dateOfEntryIntoForceTo'}} />
          </div>
          <div class="au-o-grid__item au-u-1-2 au-u-1-1@medium">
            <Filter::DateRange @label="Geldt tot" @defaultToDate={{this.nextYear}} @fromValue={{@filter.endDateFrom}} @toValue={{@filter.endDateTo}} @onChangeFromValue={{fn this.setFilter 'endDateFrom'}} @onChangeToValue={{fn this.setFilter 'endDateTo'}} />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="au-c-body-container">
    <AuDataTable
        @content={{@model}}
        @isLoading={{this.isLoadingModel}}
        @noDataMessage="Geen inzendingen gevonden"
        @sort={{@sort}}
        @page={{@page}}
        @size={{@size}} as |t|>
      <t.content as |c|>
        <c.header>
          <AuDataTableThSortable @label="Bestuurseenheid" @field="formData.chartOfAccount" @currentSorting={{@sort}} @class="data-table__header-title"/>
          <!-- TODO find out what field this is -->
          <AuDataTableThSortable @label="MAR-code" @field="organization" @currentSorting={{@sort}} @class="data-table__header-title"/>
          {{#unless @displaySubset}}
            <AuDataTableThSortable @label="Zitting / besluit" @field="formData.sessionStartedAtTime" @currentSorting={{@sort}} @class="data-table__header-title au-u-visible-from@medium"/>
            <AuDataTableThSortable @label="Verstuurd" @field="sentDate" @currentSorting={{@sort}} @class="data-table__header-title au-u-visible-from@medium"/>
          {{/unless}}
          <!-- TODO find equivalent -->
          {{#unless @displaySubset}}
            <AuDataTableThSortable @label="Geldt van" @field="formData.firstDateInForce" @currentSorting={{@sort}} @class="data-table__header-title au-u-visible-from@medium"/>
            <AuDataTableThSortable @label="Geldt tot" @field="formData.dateNoLongerInForce" @currentSorting={{@sort}} @class="data-table__header-title au-u-visible-from@medium"/>
          {{/unless}}

          <AuDataTableThSortable @label="Geldt van - tot" @field="formData.firstDateInForce" @currentSorting={{@sort}} @class="data-table__header-title au-u-visible-from@xsmall au-u-hidden-from@medium"/>
          {{#if @displaySubset}}
            <AuDataTableThSortable @label="Geldt van - tot" @field="formData.firstDateInForce" @currentSorting={{@sort}} @class="data-table__header-title"/>
          {{/if}}


          <th class="au-u-hide-on-print"></th>
        </c.header>
        <c.body as |row|>

          <td style={{html-safe "max-width: 100px;"}}>
            {{row.organization.naam}}
            <br>
            <AuHelpText class="au-u-hidden-from@medium text-fade">{{row.organization.classificatie.label}}</AuHelpText>
          </td>

          <td style={{html-safe "max-width: 150px;"}}>{{row.formData.chartOfAccount.notation}} - {{row.formData.chartOfAccount.label}}</td>
          {{#unless @displaySubset}}
            <td class="au-u-visible-from@medium">{{moment-format row.formData.sessionStartedAtTime 'DD-MM-YYYY'}}</td>
            <td class="au-u-visible-from@medium">{{moment-format row.sentDate 'DD-MM-YYYY'}}</td>
          {{/unless}}

          {{#unless @displaySubset}}
            <td class="au-u-visible-from@medium">{{moment-format row.formData.firstDateInForce 'DD-MM-YYYY'}}</td>
            <td class="au-u-visible-from@medium">{{moment-format row.formData.dateNoLongerInForce 'DD-MM-YYYY'}}</td>
          {{/unless}}

          <td class="au-u-visible-from@xsmall au-u-hidden-from@medium">{{moment-format row.formData.firstDateInForce 'DD-MM-YYYY'}} - <br> {{moment-format row.formData.dateNoLongerInForce 'DD-MM-YYYY'}}</td>
          {{#if @displaySubset}}
            <td>{{moment-format row.formData.firstDateInForce 'DD-MM-YYYY'}} - <br> {{moment-format row.formData.dateNoLongerInForce 'DD-MM-YYYY'}}</td>
          {{/if}}


          <td class="au-u-hide-on-print">
            <LinkTo @route="supervision.submissions.show" @model={{row.id}}>Bekijk</LinkTo>
          </td>
        </c.body>
      </t.content>
    </AuDataTable>
  </div>
</div>
