<div class="au-c-main-container__content au-c-main-container__content--scroll">
  <div class="au-c-body-container">
    <div class="au-o-grid au-o-grid--flush au-o-grid--fixed">
      <div class="{{if this.hasActiveChildRoute "au-o-grid__item au-u-3-5 au-u-visible-from@medium" "au-o-grid__item au-u-1-1"}}">
        <div class="au-c-body-container">
          {{#if this.canReadVlabel}}
            <Submissions::VlabelTable @class="au-c-body-container"
              @model={{this.model}}
              @isLoading={{this.isLoadingModel}}
              @displaySubset={{this.hasActiveChildRoute}}
              @filter={{hash
                          bestuurseenheidIds=this.bestuurseenheidIds
                          marCodeIds=this.marCodeIds
                          sessionDateFrom=this.sessionDateFrom
                          sessionDateTo=this.sessionDateTo
                          sentDateFrom=this.sentDateFrom
                          sentDateTo=this.sentDateTo
                          dateOfEntryIntoForceFrom=this.dateOfEntryIntoForceFrom
                          dateOfEntryIntoForceTo=this.dateOfEntryIntoForceTo
                          endDateFrom=this.endDateFrom
                          endDateTo=this.endDateTo
                      }}
              @page={{this.page}}
              @size={{this.size}}
              @sort={{this.sort}}
              @onFilterChange={{this.updateQueryParams}}/>
          {{else}}
            <Submissions::RegularTable @class="au-c-body-container"
              @model={{this.model}}
              @isLoading={{this.isLoadingModel}}
              @displaySubset={{this.hasActiveChildRoute}}
              @filter={{hash
                          bestuurseenheidIds=this.bestuurseenheidIds
                          classificatieIds=this.classificatieIds
                          governingBodyClassificationIds=this.governingBodyClassificationIds
                          provincieIds=this.provincieIds
                          besluitTypeIds=this.besluitTypeIds
                          regulationTypeIds=this.regulationTypeIds
                          sessionDateFrom=this.sessionDateFrom
                          sessionDateTo=this.sessionDateTo
                          sentDateFrom=this.sentDateFrom
                          sentDateTo=this.sentDateTo
                          statusUri=this.statusUri
                      }}
              @page={{this.page}}
              @size={{this.size}}
              @sort={{this.sort}}
              @onFilterChange={{this.updateQueryParams}}/>
          {{/if}}
        </div>
      </div>
      {{outlet}}
    </div>
  </div>
</div>
