<AuApp>
  <AuMainHeader @homeRoute="index" @appTitle={{(app-name)}}>
    <li class="au-c-list-horizontal__item">
      <AuLink @route="help" @skin="secondary">
        <AuIcon @icon="question-circle" @alignment="left" />
        Help
      </AuLink>
    </li>
    <li class="au-c-list-horizontal__item" role="menu">
      {{#if this.session.isAuthenticated}}
        <AuButton
          @skin="link"
          @icon="logout"
          @iconAlignment="left"
          role="menuitem"
          {{on "click" this.logout}}
        >
          Afmelden
        </AuButton>
      {{else}}
        <LoginButton @isCompact={{true}} />
      {{/if}}
    </li>
  </AuMainHeader>

  <main id="main" class="au-c-main-container">
    {{outlet}}
  </main>
</AuApp>