<AuMainHeader @homeRoute="index" @appTitle="Publieke Besluitendatabank">
  <li class="au-c-list-horizontal__item">
    <AuLink @route="help" @skin="secondary">
      <AuIcon @icon="question-circle" @alignment="left" />
      Help
    </AuLink>
  </li>
  <li class="au-c-list-horizontal__item">
    {{#if session.isAuthenticated}}
      <AuButton @skin="link" role="menuitem" {{ on "click" this.logout}}>
        <AuIcon @icon="logout" @alignment="left" /> Afmelden
      </AuButton>
    {{else}}
      <Acmidm::Login as |acmidm|>
        <AuButton
          role="menuitem"
          @styles="au-c-button au-c-button--tertiary"
          @loading={{acmidm.isAuthenticating}}
          @disabled={{acmidm.isAuthenticating}}
          {{on "click" acmidm.login}}
        >
          Meld u aan
        </AuButton>
        {{#if acmidm.errorMessage}}
          <AuAlert @icon="alert-triangle" @title={{acmidm.errorMessage}} />
        {{/if}}
      </Acmidm::Login>
    {{/if}}
  </li>
</AuMainHeader>

<main id="main" class="au-c-main-container">
  {{outlet}}
</main>
