<div id="main" itemprop="mainContentOfPage" role="main" tabindex="-1" class="au-c-main-container__content au-c-main-container__content--scroll">
  <AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="is lokaal bestuur">
    <img sizes="50vw" src="/assets/images/inzendingen-header-1600.jpg" srcset="/assets/images/inzendingen-header-320.jpg 320w, /assets/images/inzendingen-header-1024.jpg 1024w, /assets/images/inzendingen-header-1600.jpg 1600w" alt="" role="presentation">
  </AuContentHeader>

  <section class="au-o-region-large">
    <div class="au-o-layout au-o-layout--small">

      <AuHeading @level="2" @skin="3">Kies een bestuurseenheid om mee in te loggen.</AuHeading>

      <div class="au-o-region">
        <MockLogin as |login|>
          {{#if this.queryStore.isRunning}}
            <AuLoader @size="small" />
            <span class="au-u-hidden-visually">Aan het laden</span>
          {{else}}
            {{#if login.errorMessage}}
              <AuAlert @icon="info-circle" @title={{login.errorMessage}}  @skin="error">{{login.errorMessage}}</AuAlert>
            {{/if}}
            <login.each-account @accounts={{this.model}} as |account|>
                <div class="au-o-box au-o-box--small au-c-card au-u-margin-bottom-small">
                  <p>
                  {{account.gebruiker.voornaam}} {{account.gebruiker.achternaam}}
                  </p>
                  {{#if (await account.gebruiker.bestuurseenheden.firstObject.alternatieveNaam)}}
                  <AuHr/>
                  <p>
                    <span class="au-c-info-text">Alternatieve naam:</span>
                    {{#each (await account.gebruiker.bestuurseenheden) as |bestuurseenheid|}}
                      {{#each bestuurseenheid.alternatieveNaam as |alternatieveNaam|}}
                        <AuPill>{{alternatieveNaam}}</AuPill>
                      {{/each}}
                    {{/each}}
                  </p>
                  {{/if}}
                </div>
            </login.each-account>
              <AuDataTableNumberPagination
                @page={{this.page}}
                @size={{this.size}}
                @nbOfItems={{this.model.length}}
                @total={{this.model.meta.count}}
                @links={{this.model.meta.pagination}}
              />
          {{/if}}
        </MockLogin>
      </div>

    </div>
  </section>

  <AppFooter />
</div>

